openapi: 3.2.0
info:
  title: World News Geo Coordinates API
  description: World News API provides real-time and historical news from thousands of sources across 210+ countries and 86+ languages. It supports full-text and semantic news search, geo-targeted local news search via a radius filter, article content extraction from arbitrary URLs, country-level top news clustering, newspaper front-page images, and news-source discovery. All requests are authenticated with an API key passed either as the `api-key` query parameter or the `x-api-key` HTTP header. Each endpoint consumes a number of points (credits) that count against your plan's daily allowance.
  version: '1.2'
  contact:
    name: World News API
    url: https://worldnewsapi.com
  termsOfService: https://worldnewsapi.com/terms/
servers:
- url: https://api.worldnewsapi.com
  description: World News API production
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Geo Coordinates
  description: Resolve a place name to latitude/longitude for local news search.
paths:
  /geo-coordinates:
    get:
      operationId: getGeoCoordinates
      tags:
      - Geo Coordinates
      summary: Get geo coordinates
      description: Resolve a free-form location name to its latitude, longitude, and canonical city name. The returned coordinates are used with the Search News `location-filter` parameter to perform local news search.
      parameters:
      - name: location
        in: query
        description: The location name to resolve, e.g. "Tokyo, Japan".
        required: true
        schema:
          type: string
      - name: language
        in: query
        description: The language of the location name (ISO 6391 code).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The resolved geo coordinates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoCoordinates'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
  schemas:
    GeoCoordinates:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        city:
          type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: API key passed as the "api-key" query parameter.
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key passed as the "x-api-key" HTTP header.
